<!doctype html>
<html class="x-admin-sm">
<head>
    <meta charset="UTF-8">
    <title>后台登录 Aliexpress Data -V 1.0</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="stylesheet" href="/static/css/font.css">
    <link rel="stylesheet" href="/static/css/login.css">
    <link rel="stylesheet" href="/static/css/xadmin.css">
<!--    <script src="/static/js/api.js" charset="utf-8"></script>-->
<!--    &lt;!&ndash;[if lt IE 9]>-->
<!--    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>-->
<!--    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>-->
<!--    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>-->
<!--    <script src="/static/js/common.js"></script>-->
<!--    <script src="/static/js/jquery.min.js"></script>-->
<!--    <script type="text/javascript" src="/static/js/jquery.cookie.js"></script>-->
    <script src="/static/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/xadmin.js"></script>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/utilExt.js"></script>
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="/static/js/common.js"></script>
    <script type="text/javascript" src="/static/js/jquery.cookie.js"></script>
    <![endif]-->
    <style>
        #codetext {
            width: 60%;
        }

        .codeinput {
            margin-right: 20px;
        }

        .codeimg {
            margin-top: 10px;
        }
    </style>
</head>

<body class="login-bg">

<div class="login layui-anim layui-anim-up">
    <div class="message">User Login<br><br>Aliexpress Data -V 1.0 </div>
    <div id="darkbannerwrap"></div>

        <input name="loginName" placeholder="User Name" type="text" lay-verify="required" class="layui-input" id="uname">
        <hr class="hr15">
        <input name="password" lay-verify="required" placeholder="Password" type="password" class="layui-input" id="upw">
        <hr class="hr15">
        <hr class="hr15">
        <input value="Login" lay-submit lay-filter="login" class="loginss" style="width:100%;" type="submit" id="login">
<!--        <input type="hidden" name="code" value="vuou"/>-->
<!--        <input type="hidden" class="uidhide" name="uuid" value="asd ">-->
        <hr class="hr20">
    <script type="text/javascript">
        $(function () {
            $('#login').click(function () {
                var ref = $.cookie('refer');
                var uname = $('#uname').val();
                var upw = $('#upw').val();
                $.ajax({
                    type: "POST",//传输方式
                    url: "/login/",//url
                    data: {"uname": uname ,"upw":upw, csrfmiddlewaretoken: '{{ csrf_token }}'},//传输的数据
                    success: function (data) {
                        if (data == "error") {
                            alert("Login Failed！");
                        }else {
                            alert("Login Success！");
                            window.location.href=ref;
                        }
                    },
                    //防止深度序列化。传递数组元素属性必设置为true！
                    traditional: true,
                    error: function (data) {
                        alert(data);
                    }
                });
            })
        })
    </script>
</div>

<!-- 底部结束 -->
<script>
    //百度统计可去掉
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
</body>
</html>